<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/07162f0f-c4f0-4b1d-86f5-6859508fc74d/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/mtwdm</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <ApiResourceId>/subscriptions/07162f0f-c4f0-4b1d-86f5-6859508fc74d/resourceGroups/cloud-shell-storage-southcentralus/providers/Microsoft.ApiManagement/service/APIWebMTWDM/apis/WebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mtwdm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>0ca74db9-ce9f-4a9d-856b-2a993861434a</ProjectGuid>
    <MSDeployServiceURL>mtwdm.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mtwdm</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$mtwdm</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <SkipDotNetCoreVersionCheck>True</SkipDotNetCoreVersionCheck>
  </PropertyGroup>
</Project>